body {
    background-color: #f1aaaf;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;  
	background-size: 120px;
	margin: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

